@import "Config";

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  &:hover {
    opacity: 0.8;
  }
  &-primary {
    color: $dark-color;
    background-color: $primary-color;
    &:hover {
      border-radius: 12px;
    }
  }
  &-light {
    color: $dark-color;
    background-color: $light-color;
  }
  &-dark {
    color: $light-color;
    background-color: $dark-color;
    &:hover {
      border-radius: 12px;
    }
  }
  &-round {
    border-radius: 50%;
  }
  &-block {
    width: 100%;
  }
}

.divider {
  border-bottom: 3px solid $primary-color;
  width: 10%;
  margin: 1rem auto;
}

.spacer {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.red-stacked-layer {
  background-image: url("../../public/images/curves/redlayerwaves.svg");
}

@mixin down-a-bit($amount) {
  position: relative;
  top: $amount * 1rem;
}

.down-a-bit {
  &-3 {
    @include down-a-bit(3);
  }
  &-4 {
    @include down-a-bit(4);
  }
  &-5 {
    @include down-a-bit(5);
  }
}

@mixin py($amount) {
  padding: $amount * 1rem 0;
}

@mixin px($amount) {
  padding: 0 $amount * 1rem;
}

@mixin padding($amount) {
  padding: $amount * 1rem;
}

@mixin my($amount) {
  margin: $amount * 1rem 0;
}

@mixin mx($amount) {
  margin: 0 $amount * 1rem;
}

@mixin margin($amount) {
  margin: $amount * 1rem;
}

.display-text {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 1.5rem;
}

.line-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $dark-color;
  &:focus-visible {
    outline: 0;
  }
}

.display-none {
  display: none;
}
 
.spinner-container {
  position: relative;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading { 
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: blue;
  animation: spinner 0.6s linear infinite;
}
